{% extends 'Trip/base.html' %}
{% load static %}
{% load Trip_tags %}

{% block styles %}
<!--<title>NewWay - Поиск попутчиков!</title>-->
<link type="text/css" href="{% static 'Trip/css/main.css' %}" rel="stylesheet">

{% endblock styles %}

{% block content %}


<!--        MAIN        -->
<div class="wraper">
    <div class="img">
        <div class="title_title">
            <h1>Поездки по самым низким ценам и без комиссий!</h1>
        </div>

        <form class="forms" action="{% url 'trips' %}" method="get">
            <div class="oli">
                <input name="where_from" placeholder="Откуда?" type="text" list="cities">
                <datalist id="cities" class="cities">
                    {% for city in cities %}
                        <option value="{{city}}"></option>
                    {% endfor %}
                </datalist>
                
                
                <input name="where" placeholder="Куда?" list="cities">
                <datalist id="cities" class="cities">
                    {% for city in cities %}
                        <option value="{{city}}"></option>
                    {% endfor %}
                </datalist>
                <input name="when" placeholder="Дата поездки" type="date" min="{% get_date %}" max="2024-01-01"
                       style="border: 0; padding: 0 15px">
                <!-- <input name="ordering" type="hidden" value="time_trip"> -->
                <button type="submit"></button>
            </div>
        </form>
    </div>
</div>


<!--    FOOTER      -->


        <div class="footer">
            <div style="padding: 2%">

                Данный сервис использует ваши данные лишь в сугубо-преследуемых вами целях, а именно найти вам
                необходимую и безопасную поездку и нигде более.

            </div>

            <div style="text-align: center;">
                <h5 style="color: rgba(255, 255, 255, 0.822); margin-bottom: 10px;">Создатель:</h5>
                <a href="https://t.me/kourq"><i title="Мой Телеграм"><img src="{% static 'Trip/images/telegram.svg' %}" width="32" height="32"></i></a>
                <a href="mailto: rail.akhmietshin@gmail.com"><i title="Моя почта"><img src="{% static 'Trip/images/gmail.svg' %}" width="32" height="32"></i></a>
            </div>
        </div>

    {% endblock content %}
