{% extends 'Trip/base.html' %}
{% load static %}
{% load Trip_tags %}

{% block styles %}
    <link type="text/css" href="{% static 'Trip/css/myprofile.css' %}" rel="stylesheet">
{% endblock styles %}


{% block content %}
    <!--   MAIN     -->
    <div class="wrapper">
        <div class="wrapper_min">

            <div class="my_profile blocks">
                <div class="profile blocks">
                    {% if user.profile %}
                        <!-- <a href="#image" class="popup-link" alt=""> -->
                            <img src="{{ user.profile.url }}" width="70px" height="70px">
                        <!-- </a> -->
                    {% else %}
                        <img src="{% static 'Trip/images/passenger.svg' %}" width="70px" height="70px">
                    {% endif %}
                    <span>{{ user.username}}</span>
                </div>
                <div class="edit_profile blocks">
                    <a href="{% url 'update_profile' user.pk %}">Изменить данные</a>
                </div>
                <hr>
            </div>

            <h3 id="heading_data">Мои данные:</h3>
            <div class="my_data">
                <ul>
                    <li>{{ user.email }}</li>
                    <li>+{{ user.number_phone }}</li>
                </ul>
                
            </div>

            <hr>

                {% if user.about_self %}
                    <div class="autobiography blocks">
                        <h3>О себе:</h3>
                        <p>{{ user.about_self }}</p>
                    </div>
                    <hr>
                {% endif %}
            <div class="my_trips blocks">
                <a href="{% url 'mytrips' user.key_profile %}">Мои поездки</a>
            </div>
            <hr>
            <div class="exit_delete_account blocks">
                <a href="{% url 'logout' %}">Выйти из аккаунта</a>
                
                <button id="myBtn">Удалить аккаунт</button>
            </div>
        </div>
        <div id="myModal" class="modal blocks">
            <div class="modal-content blocks">
                
                <p>Вы уверены, что хотите удалить свой аккаунт раз и навсегда?</p>
                <div class="delete blocks">
                    <a class="confirm" href="{% url 'delete_user' %}">Да, я уверен!</a>
                    <span class="shut">Отмена</span>      
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'Trip/js/myprofile.js'%}"></script>

{% endblock content %}