{% extends 'Trip/base.html' %}
{% load static %}

{% block styles %}
    <link type="text/css" href="{% static 'Trip/css/update_profile.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<div style="display: flex; justify-content: center; margin-top: 100px;">
    <h1>{{ title }}</h1>
</div>

 <div class="background_form">
    <form method="post" action="{% url 'update_profile' user.pk %}" enctype="multipart/form-data">
         {% csrf_token %}
         <ul class="forms">
             {{ form.non_field_errors }}
             {% for f in form %}
                <!-- <div class="else">
                    <li> {{ f }} </li>
                </div> -->
                {% if forloop.first %}
                <label class="input-file">
                    <span class="input-file-text">Фото профиля:</span>
                    <li> {{ f }} </li>
                    <span class="input-file-btn">Выберите файл</span>           
                </label>
                {% else %}
                <div class="else">
                    <li> {{ f }} </li>
                </div>
                {% endif %}
            {% endfor %}
             <li class="submit_form">
                 <button type="submit">Опубликовать</button>
             </li>
         </ul>
     </form>
     
 </div>

{% endblock content %}